version: '3'
services:
    api:
        image: 'docker-spring-boot:test'
        restart: unless-stopped
        ports:
            - '8080:8080'
        depends_on:
            - mysql
        entrypoint: java -jar app.jar
    mysql:
        image: 'yobasystems/alpine-mariadb:10.6.4'
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: autohero_db
            MYSQL_USER: root
            MYSQL_PASSWORD: root
            MYSQL_CHARSET: utf8mb4
            MYSQL_COLLATION: utf8mb4_unicode_ci
        expose:
            - '3306'
        ports:
            - '3306:3306'
        volumes:
            - /docker-maria/docker-maria/mysql:/var/lib/mysql
        restart: unless-stopped
    web:
         image: 'autoherodestock/docker-spring-boot-website:test'
         restart: unless-stopped
         depends_on:
             - api
         ports:
             - '443:80'
