server:
  error:
    include-message: always
    include-binding-errors: always
  tomcat:
    remoteip:
      remote-ip-header: "x-forwarded-for"
      protocol-header: "x-forwarded-proto"
    

spring:
  datasource:
    password: root
    url: jdbc:mysql://31.207.33.183:3306/autohero_db?createDatabaseIfNotExist=true
    username: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
    show-sql: true
  mail:
    host: 31.207.33.183
    port: 1025
    username: hello
    password: hello

    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
          
spring:
    profiles: dev
server:
    address: 127.0.0.1
    port: 80
---
spring:
    profiles: prod
server:
    address: 31.207.33.183
    port: 80
